{% extends 'auth_base.html' %}

{% block title %}
 Вхід
{% endblock %}

{% block content %}

<h1>Вхід до Явору</h1>
{% load socialaccount %}
{% providers_media_js %}
<div class="mt-2">
	<a class="btn-auth btn-facebook" href="{% provider_login_url 'facebook' method='js_sdk' %}">
		<img src="https://img.icons8.com/bubbles/50/000000/facebook-new.png">
		Увійти з Facebook
	</a>
</div>
<div class="mt-2">
	<a class="btn-auth btn-google" href="{% provider_login_url 'google' %}">
		<img src="https://img.icons8.com/clouds/50/000000/google-logo.png">
		Увійти з Google
	</a>
</div>

<h5 class="mt-5">Увійти по Email</h5>

<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<span  class="error">{{ field.errors }}</span>
		<div class="form-label-group">
			{{ field }}
			<label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
		</div>
	{% endfor %}

	<button class="btn-auth btn-submit" type="submit">Увійти</button>
	<div class="mt-2">
		<a href="/accounts/signup/">Зареєструвати нового користувача</a>
	</div>
	<div class="mt-2">
		Забули пароль? <a href="/accounts/password/reset/">Відновити</a>
	</div>
	
</form>


{% endblock %}