{% extends 'auth_base.html' %}

{% block title %}
 Вхід
{% endblock %}

{% block content %}

<h1>Вхід до Явору</h1>

<form method="post">
	{% csrf_token %}
	{% for field in form %}
		<span  class="error">{{ field.errors }}</span>
		<div class="form-label-group">
			{{ field }}
			<label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
		</div>
	{% endfor %}

	<button type="submit">Увійти</button>
	<div class="mt-2">
		<a href="/accounts/signup/">Зареєструвати нового користувача</a>
	</div>
	<div class="mt-2">
		Забули пароль? <a href="/accounts/password/reset/">Відновити</a>
	</div>
	
</form>

{% endblock %}