{% extends "account/base.html" %}

{% load account %}

{% block title %}
 Оновлення паралю
{% endblock %}

{% block content %}
	<div class="bg-light view-box">
		<div class="container">
			{% load static %}
			<img class="mb-4 mx-auto d-block" src="{% static 'img/yavir_75.png' %}" alt="">
			<h1>Оновлення паролю</h1>
			<p>
				Ми надіслали листа на ваш Email. Перейдить, будь ласка, за посиланням для оновлення паралю.
			</p>
			<p>
				Якщо лист не надійшов протягом кілкох хвилин, будь ласка, зв'яжитесь з нами.
			</p>
		</div>
	</div>

{% endblock %}
