{% extends "auth_base.html" %}

{% block title %}
 Відновлення пароля
{% endblock %}

{% block content %}

<h1>Відновлення пароля</h1>

<form method="post">
    <div class="my-2">
        Впишить свій Email, і ми відправим Вам посилання для відновлення пароля
    </div>
    {% csrf_token %}
    {% for field in form %}
        <span  class="error">{{ field.errors }}</span>
        <div class="form-label-group">
            {{ field }}
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        </div>
    {% endfor %}

    <button class="" type="submit">Відновити пароль</button>
    <div class="mt-2">
        Якщо виникнуть будь-які трудноші з оновленнеям паролю, будь ласка, зв'яжитесь з нами.
    </div>
    
</form>


{% endblock %}
