{% extends "auth_base.html" %}

{% block head_title %}
 Відновілення паролю
{% endblock %}

{% block content %}

{% if token_fail %}
    <h1>Хибне посилання</h1>
    {% url 'account_reset_password' as passwd_reset_url %}
    <div class="mt-2">
        Посилання на відновлення паролю є хибним. Можливо воно вже було використано.
    </div>
    <div class="mt-2">
        Будь ласка, спробуйте <a href="{{ passwd_reset_url }}">відновити пароль ще раз</a>.
    </div>

{% else %}
    <h1>Відновілення паролю</h1>
    {% if form %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {% for field in form %}
                <span  class="error">{{ field.errors }}</span>
                <div class="form-label-group">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                </div>
            {% endfor %}
            <button type="submit">Відновити пароль</button>
        </form>
    {% else %}
        <div class="mt-2">
            Пароль ОНОВЛЕНО.
        </div>
    {% endif %}

{% endif %}

{% endblock %}
