{% extends "account/base.html" %}

{% block title %}
 Заміна пароля
{% endblock %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-center bg-light form-view">
<form clas="form-box" method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    <div class="text-center mt-5">
        <img class="mb-4" src="{% static 'img/yavir_75.png' %}" alt="">
        <h1 class="h3 mb-3 font-weight-normal">Заміна пароля</h1>
    </div>
    <p>
        Впишить свій Email, і ми відправим вам посилання для оновлення пароля
    </p>

    {% for field in form %}
        <span  class="text-danger">{{ errors }}</span>
        <div class="form-label-group">
            {{ field }}
            <label>{{ field.label_tag }}</label>
        </div>
    {% endfor %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Оновити пароль</button>
    <p>
        Якщо виникнуть будь-які трудноші з оновленнеям паролю, будь ласка, зв'яжитесь з нами.
    </p>
</form>
</div>

{% endblock %}
