{% extends "auth_base.html" %}

{% block title %}
 Підтвердження Email
{% endblock %}

{% block content %}

<h1>Підтвердіть ваш Email</h1>
<div class="mt-2">
	Ми надіслали листа-підтвердження на ваш Email. Перейдить, будь ласка, за посиланням для завершення реєстрації.
</div>
<div class="mt-2">
	Якщо лист не надійшов протягом кілкох хвилин, будь ласка, зв'яжитесь з нами.
</div>
<div class="mt-2">
	{% load extra_tags %}
	<a href="mailto:{% admin_email %}">{% admin_email %}</a>
</div>


{% endblock %}
