/* styles for auth pages */

button {
	background-color: #388e3c;
	color: white;
	border: 2px solid #388e3c;
	border-radius: 4px;
	font-family: sans-serif;
	font-size: 22px;
	padding: 5px 36px;
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
	transition-duration: 0.4s;
}

button:hover {
	background-color: #66bb6a;
}

a {
	color: #9f602a;
}

a:hover {
	color: #9f602a;
	text-decoration: underline;
}

html, body {
	height: 100%;
}

body {
	background: linear-gradient(#e8f5e9, #4caf50);
}

.auth-wrap {
	text-align: center;
	width: 100%;
	padding: 15px;
	margin: auto;
	min-height: 100%;
	margin-bottom: -60px;
	
}

.auth-wrap:after {
	content: "";
	display: block;
	height: 60px;
}

.auth-wrap h1 {
	font-family: 'Nunito';
	font-size: 30px;
	font-weight: bold;
}

.auth-wrap hr {
	width: 380px;
}

.auth-footer {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 380px;
	text-align: center;
}

.auth-logo {
	margin-top: 50px;
	margin-bottom: 10px;
}

.error {
	color: #d81b60;
}


/* form elements' appearance */
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}
