{% extends 'base.html' %}

{% block title %}
 Події
{% endblock %}

{% block content %}
{% load extra_tags %}

<div class="container page-mr">
	{% if events %}
		<div class="row row-cols-1 row-cols-md-2">
		{% for event in events %}
			<div class="col mb-4">
				<a href="/event/{{ event.id }}/" class="card-link">
					<div class="card">
						<img src="{{ event.image.url }}" class="card-img-top" alt="">
						<div class="card-body">
							<h5 class="card-title">{{ event.title }}</h5>
							<p class="card-text">{{ event.time_start|format_date:"full" }}</p>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>


{% else %}
	<h4 class="header">Sorry, there is no post available now((</h4>
{% endif %}
</div>

{% endblock %}