{% extends 'base.html' %}

{% block title %}
 Головна
{% endblock %}

{% block content %}
{% load static %}
<div class="jumbotron jumbotron-fluid text-white jumbotron-middle" style="background:
	linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({% static 'img/jumbotron_01.jpg' %});
	background-size: cover;
	background-position: center center;
	height: 400px;">
	<div class="container">
		<h1 class="display-4">Вальдорфськаініціатива Явір</h1>
		<p class="h3">
			У просторі довіри, взаємоповаги та творчості ми прагнемо розкрити потенціал дітей, вчителів та батьків. Творити школу, відкриту до життя, наповнену світлом та здоров’ям. Через принципи вальдорфської педагогіки надихнути освітній простір країни на втілення живих, простих і практичних ідей.
		</p>
	</div>
</div>

<div class="container">
	<div>
		<p>
			Вальдорфські класи «Явір» почали свою роботу у державній школі №203 з вересня 2017 року, і одразу 70 учнів тут почали навчання за вальдорфськими програмами. Вальдорфська методика в Україні затверджена державним стандартом. Діти проходять атестацію у відповідності до стандартних вимог і отримують документи про освіту державного зразка. Вальдорфська школа сьогодні у повній мірі відповідає концепції  Нової української школи. В українських вальдорфських школах вже працюють принципи, які в загальноосвітніх школах тільки збираються впровадити.
		</p>
		<ul>
			<li>Партнерські стосунки вчителя та учня, взаємоповага та довіра</li>
			<li>Відсутність оцінок, конкуренції і шаблонних відповідей</li>
			<li>Активна участь батьків у шкільному житті, єдиний простір розвитку для дитини</li>
			<li>Пробудження власного потенціалу дитини, розкриття її особистих талантів і здібностей</li>
			<li>Повага до індивідуальних потреб дитини, її темпу та інтересів</li>
			<li>Свобода вчителя самому обирати матеріали та форми для урока</li>
			<li>Врахування фізичних та вікових потреб і здібностей дитини</li>
			<li>Велика частка проектної, командної роботи</li>
			<li>Навчальний простір мобільного типу, де діти можуть вільно рухатись</li>
		</ul>
		<p>
			Вальдорфська школа відштовхується від природи дитини, її вікових потреб. У людини все тісно пов’язано: тіло, інтелект, воля, почуття, і така педагогіка це враховує. Тілесні вправи допомагають сприймати інтелектуальну інформацію і дають дітям радість руху. Адже, позитивні пореживання – кращий спосіб легко і надовго запам’ятати будь-який матеріал. У вальдорфській школі діти багато часу проводять на вулиці, а всередині школи їх оточують переважно натуральні матеріали: дерево, вовна, тканини. , що розвиває креативне мислення та відчуття своєї спроможності перетворювати одне в інше. Дітей заохочують ставити питання і самим знаходити відповідь.
		</p>
	</div>
</div>

<div class="jumbotron jumbotron-fluid text-white" style="
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({% static 'img/jumbotron_02.jpg' %});
	background-size: cover;
	background-position: center center;
	height: 400px;"></div>

<div class="container">
	<div class="row">
	<h1>Цінності команди Явора</h1>
	Це те, навколо чого зародилася наша ініціатива, навколо чого згуртувались люди і заради чого ми робимо свою справу. Всі ми прагнули втілення певних ідей, мрій, якостей життя, і не знайшовши готового середовища для цього, почали створювати власне. А вже згодом ми змогли приділити багато годин на обговорення цього, і виписати цінності, важливі для кожного з нас, розкриваючи значення кожної. Ось вони:
	<ul>
		<li>
			Людина як цінність: бачення духовного фундаменту та увага до природи людини.
		</li>
		<li>
			Гідність та повага: прийняття автономії кожного, увага до якості контакту, безоціночність, ненасильницьке спілкування та свідома позиція.
		</li>
		<li>
			Відкритість і довіра: простір, в якому ми [Вальдорфськаініціатива Явір] взаємодіємо відкритий та приймаючий. Конфлікти є природною частиною спілкування і ми готові їх ефективно вирішувати. Будь яка допомога розвитку ініціативи сприймається із вдячністю. Ми відкриті життю та можливостям, які виникають та віддаємо перевагу екологічним способам взаємодії.
		</li>
		<li>
			Командність: гумор та доброзичливість є важливою складовою спілкування в нашому колективі. Відповідальність за свої дії, координація зусиль, командна робота та синергія допомагають у реалізації стратегії та виконанні завдань.
		</li>
		<li>
			Цілеспрямованість: розуміння ключової мети, а саме – створення сприятливих умов для розвитку дітей, свідомі дії, які базуються на добрій волі та вмотивованості.
		</li>
		<li>
			Саморозвиток: розвиток дітей можливий тоді, коли поряд із ними свідомі дорослі, які самі розвиваються та є цілісними особистостями. Тому і вчителі, і батьки навчаються та беруть на себе виклики у вигляді завдань, які підтримують життєдіяльність ініціативи.
		</li>
		<li>
			Свобода творчості: кожен має свободу бути собою, сівдомо обирати справи, які приносять задоволення та йдуть від природнього імпульсу.
		</li>
	</ul>
	</div>

	<div class="row">
	{% for c in classes %}
		<div class="col-4">
		<div class="card card-home mb-2">
			<img src="{{ c.image.url }}" class="card-img-top" alt="">
			<div class="card-body">
				<h5 class="card-title">{{ c.title }}</h5>
				<p class="card-text">{{ c.brief }}</p>
				<a href="#" class="btn btn-primary">Дізнатись більше</a>
			</div>
		</div>
		</div>
	{% endfor %}
	</div>


	<div>
		<h1>В наших 1, 4 та 5 класах є кілька вільних місць!</h1>
		<p>Вальдорфська педагогіка сьогодні у повній мірі відповідає концепції Нової української школи.</p>
		<p>
			Вальдорфська методика в Україні затверджена державним стандартом. Діти проходять атестацію у відповідності до стандартних вимог і отримують документи про освіту державного зразка.
		</p>
		<ul>
			<li>Партнерські стосунки вчителя та учня, взаємоповага та довіра</li>
			<li>Відсутність оцінок, конкуренції і шаблонних відповідей</li>
			<li>Активна участь батьків у шкільному житті, єдиний простір розвитку для дитини школа-сім’я</li>
			<li>Пробудження власного потенціалу дитини, розкриття її особистих талантів і здібностей</li>
			<li>Повага до індивідуальних потреб дитини, її темпу та інтересів</li>
			<li>Свобода вчителя самому обирати матеріали та форми для урока</li>
			<li>Врахування фізичних та вікових потреб і здібностей дитини</li>
			<li>Велика частка проектної, командної роботи</li>
			<li>Навчальний простір мобільного типу, де діти можуть вільно рухатись</li>
		</ul>
		<p>Кількість дітей у класах: 25.</p>
		<p>
			Графік навчання: щодня з 8.30 до 13-14.00, потім діти можуть залишатись на групі подовженого дня до 18.00, де вони постійно включені у вільні ігри та рукодільні зайняття.
		</p>
		<strong class="text-muted">
		Контакти:<br/>
		{% for c in contact_list %}
			{{ c }}<br/>
		{% endfor %}
		</strong>
	</div>
</div>


{% endblock %}