{% extends 'base.html' %}

{% block title %}
 Інфо
{% endblock %}

{% block content %}

<ul class="nav nav-tabs page-mr">
	<li class="nav-item">
		<a class="nav-link active" href="/{{ group }}/info/">Вчителі</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/{{ group }}/schedule/">Розклад</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="/{{ group }}/discussion/">Обговорення</a>
	</li>
</ul>

<div class="container my-5">
	<div class="list-group">
		{% load extra_tags %}
		{% for p in persons %}
		{% if p.is_active %}
			<li class="list-group-item">
				<h3>{{ p.first_name }} {{ p.last_name }}</h3>
				<p>{{ p.description }}</p>
				<p class="text-muted">{{ p.phone_number|get_phone }}</p>
			</li>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock %}